@charset "uft-8";


#works_pre {
    display: flex;
    justify-content: space-between;
    max-width: 1146px;
    margin: 0 auto;
}



.pre_mk_img {
    margin-top: 127px;
    text-align: center;
    max-width: 636px;
    width: 100%;
    height: 100%;
    aspect-ratio: 934 / 567;
    border-radius: 40px;
    background-color: #FFFCEE;
}

.pre_mk_img img {
    padding-top: 9%;
    padding-left: 3%;
    max-width: 536px;
    width: 86%;
    height: 81%;
    object-fit: cover;
}

.pre_jg_img {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 636px;
}

.pre_jg_pc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 1926px;
    border-radius: 12px;
    background-color: #FFFCEE;
}

.pre_jg_pc img {
    width: 426px;
}

.pre_jg_sp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 2132px;
    border-radius: 12px;
    background-color: #FFFCEE;
}

.pre_jg_sp img {
    width: 133px;
}

.pre_memo {
    margin-top: 127px;
    width: 384px;
    height: 897px;
    border-radius: 40px;
    border: 3px solid #FFD63A;
    background-color: #FFFCEE;
}

.pre_memo_wrap {
    margin: 0 auto;
    width: 316px;
    padding: 50px 3.6% 50px 3.6%;
}

.pre_title {
    padding: 0 4px 20px 4px;
    font-size: 22px;
    font-weight: 800;
    border-bottom: 1px solid #CCCCCC;
}

.pre_contents {
    padding: 20px 4px 8px 4px;
    font-size: 18px;
    font-weight: 800;
}

.pre_memo_text1 {
    padding: 0 4px 20px 4px;
    font-size: 16px;
    border-bottom: 1px solid #CCCCCC;
}

.pre_memo_text2 {
    padding: 0 4px 20px 4px;
    font-size: 16px;
    line-height: 1.5;
    border-bottom: 1px solid #CCCCCC;
}

.pre_memo_text3 {
    padding: 0 6px 12px 6px;
    font-size: 16px;
    line-height: 1.68;
    text-indent: -0.5em;
}

.works_btn {
    position: relative;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 174px;
    height: 44px;
    background-color: #fc6349;
    border-radius: 32px;
    cursor: pointer;
    border: 3px solid transparent;
}

.works_btn p {
    padding-top: 15px;
    padding-left: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    color: #FFFCEE;
}

.check_btn1 {
    position: absolute;
    top: 2px;
    left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffd63a;
    cursor: pointer;
    transition: 0.4s;
}

.works_btn1:hover .check_btn1 {
    transform: translateX(130px);
}

.works_btn1:hover {
    background-color: #05c87a;
    border-color: #ffd63a;
    border-radius: 25px;
}


.modal {
    display: none;
}

#pcModal #spModal {
    display: none;
}

.modal_btn_text {
    display: none;
}

.check_btn1 {
    display: none;
}

@media screen and (max-width: 1100px) {
    #works_pre {
        flex-direction: column;
        align-items: center;
    }

    .works_pre_wrap {
        width: 90%;
    }

    .pre_mk_img {
        max-width: initial;
    }

    #openModal {
        display: flex;
        justify-content: space-between;
        max-width: 446px;
        width: 100%;
        margin-bottom: 0px;
    }

    .modal_btn_text {
        display: block;
    }

    .check_btn1 {
        display: block;
    }

    .modal_pcbtn,
    .modal_sppbtn {
        position: relative;
        margin: 0 auto;
        margin: 20% 3% 0 3%;
        width: 174px;
        height: 44px;
        background-color: #fc6349;
        border-radius: 32px;
        cursor: pointer;
        border: 3px solid transparent;
    }

    .modal_btn_text {
        padding-left: 20px;
        text-align: center;
        font-size: 16px;
        line-height: 42px;
        font-weight: 800;
        color: #FFFCEE;
    }


    /* モーダルウィンドウの基本スタイル */
    .modal {
        display: none;
        /* デフォルトでは非表示に設定 */
        position: fixed;
        /* モーダルがページ全体に固定されるように設定 */
        top: 0;
        /* ページの最上部からスタート */
        left: 0;
        /* ページの最左端からスタート */
        width: 100%;
        /* モーダルが画面全体の幅を占める */
        height: 100vh;
        /* モーダルが画面全体の高さを占める */
        background-color: rgba(41, 40, 36, 0.4);
        /* 背景を半透明の黒に設定（モーダルの背後が見えるように） */
        overflow-y: scroll;
        z-index: 3;
    }

    .modal::-webkit-scrollbar {
        display: none;
    }

    .modal-content {
        position: relative;
        margin: 0 auto;
        width: 70%;
        /* モーダルの幅 */
    }

    .modal_pc {
        width: 80%;
    }


    .modal_img {
        margin: 100px 0;
        display: flex;
        justify-content: center;
    }

    .modal_img img {
        width: 100%;
    }

    .modal_img p {
        padding-bottom: 10px;
        font-weight: 800;
    }

    /* モーダルを閉じるボタン（×）のスタイル */
    #pcClose,
    #spClose {
        position: sticky;
        /* モーダル内で絶対位置に配置 */
        display: flex;
        /* ボタン内のテキストが中央に配置されるようにフレックスボックスを使用 */
        align-items: center;
        /* ボタン内のテキストを縦方向に中央揃え */
        justify-content: center;
        /* ボタン内のテキストを横方向に中央揃え */
        top: 10%;
        /* モーダル内容の上部から離れた位置に配置 */
        left: 100%;
        /* モーダル内容の右端から離れた位置に配置 */
        font-size: 28px;
        /* 閉じるボタンのフォントサイズ */
        font-weight: 800;
        /* 閉じるボタンのフォントを太字に設定 */
        cursor: pointer;
        /* ホバー時にポインタが表示されるように設定 */
        color: #FFFCEE;
        /* 閉じるボタンのテキストカラーを白に設定 */
        width: 40px;
        /* ボタンの幅 */
        height: 40px;
        /* ボタンの高さ */
        background-color: #72716E;
        /* ボタンの背景色をダークグレーに設定 */
        border: #72716E;
        /* ボタンの境界線を背景と同じ色に設定 */
        border-radius: 50%;
        /* ボタンを丸くするための半径 */
    }

    #spClose {
        position: fixed;
        left: 65%;
        top: 6%;
    }


    .pre_jg_img {
        display: none;
    }

    .pre_memo {
        margin-top: 80px;
        width: 90%;
        height: 100%;
    }

    .pre_memo_wrap {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .pre_mk_img {
        margin-top: 57px;
    }

    #openModal {
        width: initial;
    }

    #spClose {
        left: 78%;
    }

    .modal_pcbtn,
    .modal_sppbtn {
        width: 134px;
    }

    .modal_btn_text {
        padding-left: 25px;
        font-size: 15px;
        line-height: 44px;
    }

    .pre_title {
        font-size: 21px;
    }


}

@media screen and (max-width: 390px) {
    .pre_mk_img {
        margin-top: 57px;
    }

    .works_page_title p {
        padding-bottom: 43px;
    }

    .pre_memo_wrap {
        width: 88%;
    }

}