@charset "uft-8";

#thankspage {
    text-align: center;
}

#thankspage img {
    padding-top: 120px;
    padding-bottom: 64px;
    max-width: 723px;
    width: 100%;
}

#thankspage p {
    font-size: 18px;
    line-height: 2.55;
}


.sp_br {
    display: none;
}


.thanks_btn {
    position: relative;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 84px;
    width: 174px;
    height: 44px;
    background-color: #fc6349;
    border-radius: 32px;
    cursor: pointer;
    border: 3px solid transparent;
}

.thanks_btn p {

    text-align: center;
    font-size: 16px;
    font-weight: 800;
    color: #FFFCEE;
}


.thanks_check_btn {
    position: absolute;
    top: 2px;
    left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffd63a;
    cursor: pointer;
    transition: 0.4s;
}

.thanks_btn:hover .thanks_check_btn {
    transform: translateX(130px);
}

.thanks_btn:hover {
    background-color: #05c87a;
    border-color: #ffd63a;
    border-radius: 25px;
}

#Footer {
    max-width: 100%;
    height: 150px;
    background-color: #ffd63a;
}

#Footer h1 {
    width: 249px;
    height: 32px;
}

#Footer p {
    padding-top: 24px;
    padding-left: 3%;
    font-size: 14px;
    color: #FFFCEE;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 3% 0 3%;
}

.footer-list ul {

    display: flex;
    justify-content: space-between;
    width: 462px;
}

.footer-list ul li {
    display: flex;
    font-size: 16px;
    font-weight: 800;
    color: #FFFCEE;
}

@media screen and (max-width: 768px) {
    #thankspage img {
        padding-top: 0;
        width: 88%;
    }

    #thankspage p {

        font-size: 16px;
    }

    br {
        display: none;
    }

    .sp_br {
        display: block;
    }

    #Footer {
        height: 571px;
    }

    .footer-wrap {
        padding-top: 28px;
        flex-direction: column;
    }

    .footer-logo {
        padding-bottom: 92px;
        order: 2;
    }

    .footer-list {
        order: 1;
    }

    .footer-list ul {
        padding: 68px;
        order: 3;
        flex-direction: column;
        align-items: center;
        width: 362px;
        height: 190px;
    }

    #Footer p {
        text-align: center;
    }
}